.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.navbar ul {
  margin-top: 25px;
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 10px;
  margin-right: 20px;
}

.searchbar {
  padding: 10px;
}
.ResCard {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 420px;
}
.res-logo {
  width: 195px;
  height: 195px;
}

.ResCard:hover {
  cursor: pointer;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}

.res-cards {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin-left: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  height: 420px;
  width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}

.login {
  padding: 10px;
  margin-right: 15px;
}

.filter {
  display: flex;
  margin: 10px;
}
